*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        /* border: red solid 1px; */
}

main {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1,
h2,
section {
    text-align: center;
}

button {
    white-space: nowrap;
    max-width: min-content;
}

#output {
    text-align: start;
}