*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        /* border: red solid 1px; */
}

main {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1,
h2,
form {
    text-align: center;
}